<html>
  <head>
   <style>
    actions  {
      padding-left: 40px;
    }
	head {
	padding-left: 40px;
	}
   </style>
  </head>
</html>

<qot class="header">
<h1>Sponsor a Project Form </h1>
</div>

<%= render 'form', project_sponsor: @project_sponsor %>

  <div class="actions">
  <br>
    <%= button_to 'Cancel Project', project_sponsors_path  %>
  </div>
  

