 <html>
  <head>
   <style>
     div  {
       padding-left:80px;
     }
 	.header {
 	padding-left: 80px;
 	}
    </style>
   </head>
 </html>

<div class="header">
<h1>Sponsor a Project Form </h1>
</div>

<%= render 'form', project_sponsor: @project_sponsor %>

  <div class="actions">
    <%= link_to 'Cancel', project_sponsors_path %>
  </div>

  
  