<html>
  <head>
   <style>
    div  {
      padding-left:80px;
    }
	.header {
	padding-left: 40px;
	}
   </style>
  </head>
</html>

<div class="header">
<h1>Sponsor a Project Form </h1>
</div>

<%= render 'form', project_sponsor: @project_sponsor %>

  <div class="actions">
  <br>

	<%= link_to '<button type="button">Cancel Project</button>'.html_safe, "../sponsors.html", {:style=>'color:#333333;', :class => "css_class"} %>
	
  </div>

  
  