<div class = "container-fluid">
<h1><%= @title %></h1>
<p><%= @content %></p>
<style>
body {
    background-image: url('https://media.istockphoto.com/photos/quality-customer-service-is-a-team-effort-picture-id646805636?s=2048x2048');
    background-size: cover;
    background-position: top;
    background-repeat: no-repeat;
}
</div>