<div class = "container-fluid">
<h1><%= @title %></h1>
<p><%= @content %></p>
</div>
<div class= "container">
    <div class="card-group">
        <div class="card" style="width: 18rem;">
        <img src="https://media.istockphoto.com/photos/internship-written-on-a-notebook-picture-id953664114" class="card-img-top" alt="Image didn't load">
        <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            <a href="internships.html" class="btn btn-primary">Go somewhere</a>
        </div>
        </div>
        <div class="card" style="width: 18rem;">
        <img src="https://media.istockphoto.com/photos/sponsor-with-woman-using-a-smartphone-picture-id1090652266" class="card-img-top" alt="Image didn't load">
        <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            <a href="internships.html" class="btn btn-primary">Go somewhere</a>
        </div>
        </div>
        <div class="card" style="width: 18rem;">
        <img src="https://media.istockphoto.com/photos/young-students-with-laptop-and-their-teacher-in-a-library-picture-id944069716" class="card-img-top" alt="Image didn't load">
        <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            <a href="internships.html" class="btn btn-primary">Go somewhere</a>
        </div>
        </div>
    </div>
</div>