<!DOCTYPE html>
<html>
<head>
<style>
body {background-color: LightGray;}
h1 {padding-left: 20px;}
p {
display:inline-block; height: 30px;
padding-left: 30px;
padding-right: 80px;
padding-top:10px;}
div {padding-left 20px;}
</style>
</head>
<body>


<h1>About the Team</h1>
<p>Create By: Daniel Boniface, Hope Davis, Nicholas Vail-Stein, Prof. Wayne Marcy </p>

<p>Daniel Boniface, Programmer:
<br>
Worked on Making imagery and text responsive,
Adding drop down for sponsors to choose the scope of the project,
Validating Sponsor Projects Form, and
Adding option for interns to post a resume.
<br>
 </p>

 <p>Hope Davis, Programmer:
 <br>
Worked on making Card send User to Project Opportunities,
Interns should be able to register,
Validating Intern Signup Form, and
Styling Intern Signup Form.
<br>
 </p>
 
 <p>Nicholas Vail-Stein, Programmer:
 <br>
Worked on Making Project Sponsor Page Links,
Working Links throughout entire project,
Styling on Sponsorship Form, 
Coordinator Able to Feature a Project, and
Styling of Project Sponsor Index.
<br>
 </p>
 <br>
 
  <p>Wayne Marcy, Professor:
  <br>
Worked with the project team to develop stories, 
coordinate meetings, and
track performance and features.
 </p>
 <br>

</body>
</html>