<div class = "container-fluid">
<h1><%= @title %></h1>
<p><%= @content %></p>

<form action="project_sponsors/new">
    <input type="submit" value="Become a Sponsor" />
</form>
</div>
</div>
<div class= "container">
    <div class="card-group">
        <div class="card" style="width: 18rem;">
        <img src="https://media.istockphoto.com/photos/become-a-sponsor-written-on-business-card-picture-id881120664" class="card-img-top" alt="Image didn't load">
        <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            <a href="internships.html" class="btn btn-light">Go somewhere</a>
        </div>
        </div>
        <div class="card" style="width: 18rem;">
        <img src="https://media.istockphoto.com/photos/sponsorship-proposal-picture-id157321465" class="card-img-top" alt="Image didn't load">
        <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            <a href="internships.html" class="btn btn-light">Go somewhere</a>
        </div>
        </div>
        <div class="card" style="width: 18rem;">
        <img src="https://media.istockphoto.com/photos/job-fair-text-on-blackboard-sign-board-picture-id1082393080" class="card-img-top" alt="Image didn't load">
        <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            <a href="internships.html" class="btn btn-light">Go somewhere</a>
        </div>
        </div>
    </div>
</div>
