<html>
<head>
 <style>
   div  {
     padding-left:80px;
   }
   .header {
   padding-left: 80px;
   }
  </style>
 </head>
</html>

<div class ="header">
<h1>Register as an Intern</h1>
</div>

<%= render 'form', intern: @intern %>

<div class = "actions">
    <%= link_to 'Cancel', interns_path %>
</div>